.product-card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 1rem;
    display: block;
    padding: 5%;
    border-radius: 5%;
}
.product-card-image{
    height: 100px;
    width: 100px;
}

.product-details{
    line-height: 10%;
    display: block;
    font-weight: 500;
}

.add-to-cart-btn{
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(205, 255, 129);
    border: none;
    padding: 5px;
    border-radius: 20px;
    font-weight: 600;
}

.add-to-cart-btn:hover{
    background-color: greenyellow;
}